@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --main-bg-color: #18538e;
}
.UMC-widget {
  box-sizing: border-box;
  padding: 20px;
  margin: 10px 0;
  border-radius: 7px;
  box-shadow: 0 15px 20px rgb(151, 158, 167, 0.1);
  width: 100%;
  margin: 20px auto;
}
.UMC-widget__form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 1;
}
.UMC-widget *,
.UMC-widget__modal * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
}
.UMC-widget__input-wrapper {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.UMC-widget__elem {
  width: 100%;
  display: block;
  margin: auto;
  border: none;
  outline: none;
}
.UMC-widget__inputs-wrapper {
  width: 100%;
}
.UMC-widget__input {
  border-radius: 7px;
  padding: 14px 16px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  overflow: hidden;
  border: 1px solid #c7d3d9;
  background-color: white;
}
@keyframes fadeOut {
  0% {
    background-color: rgba(236, 35, 39, 0.2);
  }
  100% {
    background-color: transparent;
  }
}
.UMC-widget__input_empty {
  border: 1px solid red;
  animation: fadeOut 1s;
}
.UMC-widget__input-info {
  color: #ed2227;
  font-size: 12px;
  margin-top: 8px;
}
.UMC-widget__input:focus {
  border: 1px solid #117dc1;
}
.UMC-widget__input::-webkit-input-placeholder {
  color: rgba(172, 174, 176, 0.8);
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__input::-moz-placeholder {
  color: rgba(172, 174, 176, 0.8);
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__input:-moz-placeholder {
  color: rgba(172, 174, 176, 0.8);
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__input:-ms-input-placeholder {
  color: rgba(172, 174, 176, 0.8);
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__icon {
  fill: rgba(172, 174, 176, 0.8);
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
}
.UMC-widget__button-area {
  padding: 0;
}
.UMC-widget__button {
  background-color: #117dc1;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 500;
  padding: 13px 16px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: white;
  max-height: 42px;
  font-size: 14px;
  margin-top: 20px;
  overflow: hidden;
}
.UMC-widget__preloader-btn {
  height: 20px;
}
.UMC-widget__button:hover {
  background-color: #136fa9;
}
.UMC-widget__button:active {
  box-shadow: none;
}
.UMC-widget__button:disabled {
  box-shadow: none;
  opacity: 0.7;
  cursor: auto;
}
.UMC-widget__hr {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.UMC-widget__text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.UMC-widget__text_hr {
  width: 30px;
  margin: auto;
  transform: translateY(-9px);
  background-color: #18538e;
}
.UMC-widget__text_info {
  margin-bottom: 20px;
}
.UMC-widget__hide-input {
  height: 0;
  overflow: hidden;
  margin: 0;
}
.UMC-widget__error-wrapper {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 7px;
  border: 1px solid white;
  padding: 10px;
  font-size: 14px;
}
.UMC-widget__open-input {
  font-size: 14px;
  text-decoration: underline;
  padding: 3px;
  color: rgba(172, 174, 176, 0.8);
  cursor: pointer;
}
.UMC-widget__open-input:hover {
  text-decoration: none;
}
/*success*/
.UMC-widget__success-area {
  display: flex;
  align-items: center;
  justify-self: center;
}
.UMC-widget__success-icon {
  width: 80px;
  display: block;
  margin-right: 20px;
}
.UMC-widget__success-title {
  text-align: center;
  margin-bottom: 10px;
}
.UMC-widget__success-text {
  font-size: 16px;
  line-height: 20px;
  color: #979ea7;
  text-align: left;
}
.UMC-widget__return-back,
.UMC-widget__success-icon,
.UMC-widget__success-title {
  fill: #117DC1;
  color: #117DC1;
}
.UMC-widget__success-highlight {
  color: #72777e;
  font-weight: 500;
}
.UMC-widget__return-back {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}
.UMC-widget__preloader-wrapper {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F3F4;
  border-radius: 5px;
}
.UMC-widget__preloader-wrapper .UMC-widget__preloader {
  width: 40px;
}

/* calendar  */
.UMC-widget__calendar-container {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
}
.UMC-widget__calendar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -2px;
}
.UMC-widget__calendar-toggle {
  margin-right: 20px;
  background: #f4f6f7;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  transition: 0.2s ease-in-out;
  width: 30px;
}
.UMC-widget__calendar-toggle img {
  width: 10px;
}
.UMC-widget__calendar-toggle_rotate {
  transform: rotate(180deg);
}
.UMC-widget__calendar {
  padding-top: 5px;
  display: flex;
  width: 329px;
  overflow: hidden;
}
.UMC-widget__calendar-error {
  max-width: 400px;
  align-self: center;
}
.UMC-widget__calendar-error .UMC-widget__error-wrapper {
  box-shadow: 3px 4px 3px rgba(199, 211, 217, 0.5);
}
.UMC-widget__calendar-screen {
  display: flex;
  width: 100%;
  transition: all ease-in-out 0.5s;
}
.UMC-widget__calendar-screen_translated {
  transform: translateX(-100%);
}

.UMC-widget__day {
  width: 47px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 0;
  position: relative;
  color: #c7d3d9;
  cursor: not-allowed;
}
.UMC-widget__day_free {
  cursor: pointer;
  color: black;
}
.UMC-widget__day_free:hover {
  background-color: #e8eaeb;
}
.UMC-widget__day_clicked {
  padding-top: 4px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #c7d3d9;
  border-bottom: none;
  background-color: white;
}
.UMC-widget__day_clicked:hover {
  background-color: #fff;
}
.UMC-widget__day-dot {
  background: #117dc1;
  border-radius: 50%;
  bottom: 7px;
  height: 6px;
  left: calc(50% - 3px);
  position: absolute;
  width: 6px;
}
.UMC-widget__time-area {
  padding: 10px;
  border: 1px solid #c7d3d9;
  border-radius: 5px;
  box-shadow: 3px 4px 3px rgba(199, 211, 217, 0.5);
  max-height: 150px;
  overflow-y: auto;
}
.UMC-widget__time-screen {
  display: flex;
  flex-wrap: wrap;
}
.UMC-widget__time-element-wrapper {
  padding: 3px;
  margin: 5.5px;
  cursor: pointer;
}
.UMC-widget__time-element-wrapper_selected {
  background: rgba(17, 125, 193, 0.4);
  border-radius: 5px;
}
.UMC-widget__time-element {
  padding: 10px 16px;
  background-color: #117dc1;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}
.UMC-widget__time-element:hover {
  background-color: #136fa9;
}
.UMC-widget__time-element-wrapper_disable .UMC-widget__time-element {
  background-color: rgba(199, 211, 217, 0.5);
}
/*medic*/
.UMC-widget__medic-img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  background-color: rgba(199, 211, 217, 0.8);
}
.UMC-widget__medic {
  margin: 0 20px;
  width: 300px;
}
.UMC-widget__medic-name {
  color: #117dc1;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3em;
}
.UMC-widget__medic-des {
  font-size: 14px;
  margin: 10px 0;
  line-height: 20px;
  color: #979ea7;
}
.UMC-widget__medic-des_bold {
  font-weight: 500;
  color: #72777e;
}
/*modal*/
.UMC-widget__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999!important;
}
.UMC-widget__modal-body {
  background-color: #fff;
  width: 500px;
  padding: 30px;
  max-height: 600px;
  overflow: auto;
  border-radius: 5px;
  transition: all ease 0.3s;
  transform: translateY(0);
}
.UMC-widget__modal-body_hidden {
  visibility: hidden;
  transform: translateY(-100px);
}
.UMC-widget__modal-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UMC-widget__modal-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
}
.UMC-widget__modal-exit {
  font-size: 28px;
  width: 44px;
  height: 44px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #adb0b8;
  cursor: pointer;
  transition: all ease 0.15s;
}
.UMC-widget__modal-exit:hover {
  background: #f1f3f6;
  color: #5b5d63;
}
.UMC-widget__private-text {
  color: #757575;
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 140%;
}
.UMC-widget__private-link {
  color: #117dc1;
}
.UMC-widget__private-link:hover {
  text-decoration: none;
}


/*service*/
.UMC-widget__service-area {
  margin-right: 30px;
}
.UMC-widget__service-list {
  padding-right: 20px;
  list-style: none;
  overflow-y: auto;
  width: 280px;
  max-height: 186px;
  border: 1px solid #c7d3d9;
  border-radius: 6px;
  box-shadow: 3px 4px 3px rgba(199, 211, 217, 0.5);
}
.UMC-widget__service {
  width: 100%;
  padding: 3px;
  margin: 5.5px;
  cursor: pointer;
  border-radius: 6px;
  color: #72777e;
  cursor: pointer;
}
.UMC-widget__service_selected {
  background: rgba(17, 125, 193, 0.4);
}
.UMC-widget__service span {
  display: block;
  padding: 7px;
  background-color: #117dc1;
  color: white;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
}
.UMC-widget__service-title {
  padding: 0 10px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #72777e;
  display: flex;
  justify-content: space-between;
}
.UMC-widget__service-title span {
  font-size: 18px;
  font-weight: 500;
  color: #117dc1;
}
.UMC-widget__service span:hover {
  background-color: #136fa9;
}
.UMC-widget__text-first {
  box-shadow: 3px 4px 3px rgba(199, 211, 217, 0.5);
  padding: 20px;
  color: #72777e;
  border-radius: 6px;
}
@media screen and (max-width: 1200px) {
  .UMC-widget__calendar-area {
    margin: 30px 0;
  }
  .UMC-widget__medic {
    margin: 20px;
  }
}
@media screen and (max-width: 768px) {
  .UMC-widget {
    width: 95%;
    padding: 10px;
    box-shadow: none;
  }
  .UMC-widget__form {
    flex-direction: column;
  }
  .UMC-widget__medic {
    width: 100%;
  }
  .UMC-widget__service-area {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .UMC-widget__calendar-container {
    width: 100%;
  }
  .UMC-widget__calendar {
    width: 250px;
  }
  .UMC-widget__day {
    width: 34px;
    margin: 2px;
    margin-bottom: 0;
  }
  .UMC-widget__calendar-toggle {
    margin-right: 0;
  }
  .UMC-widget__time-area {
    max-height: 300px;
  }
  .UMC-widget__modal-body {
    width: 95%;
    max-height: 500px;
    padding: 20px;
  }
  .UMC-widget__success-text {
    font-size: 14px;
  }
  .UMC-widget__time-area {
    box-shadow: none;
  }
  .UMC-widget__medic {
    margin-left: 0;
  }
}
.UMC-widget_class-hidden {
  display: none;
}