@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*main*/
html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
:root {
  --main-element-bg: #00A3C8;
  --main-element-color: #ffffff;
  --main-element-border: #00A3C8;
  --main-element-bg_hover: #007995;
  --main-element-color_hover: #ffffff;
  --main-element-border_hover: #007995;
  --main-element-bg_simple: #ffffff;
  --main-element-color_simple: #555;
  --main-element-border_simple: #ccc;
  --main-text: black;
}
.UMC-widget {
  box-sizing: border-box;
  width: 1400px;
  margin: 20px auto;
}

.UMC-widget__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  column-gap: 20px;
}
.UMC-widget__block {
  width: 100%;
}

.UMC-widget * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}

.UMC-widget__input-wrapper {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.UMC-widget__section-header {
  padding: 15px 12px;
  color: var(--main-text);
}
.UMC-widget__section-header * {
  color: var(--main-text);
}
.UMC-widget__header-item {
  width: 32px;
  text-align: center;
  justify-self: center;
}
.UMC-widget__mr-small {
  margin-right: 22px;
}

/*UMC-widget__date*/
.UMC-widget__date {
  font-weight: bold;
  margin-bottom: 27px;
}

/*calendar*/
.UMC-widget__calendar-header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
  column-gap: 7px;
  justify-self: center;
}
.UMC-widget__calendar-des {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.UMC-widget__calendar-des-item {
  display: flex;
  align-items: center;
}
.UMC-widget__calendar-des-text {
  color:var(--main-text);
  margin-left: 14px;
}
.UMC-widget__calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 7px;
  padding: 12px;
  row-gap: 10px;
}

.shadow-box {
  border: 2px solid #eeeeee;
  height: 240px;
  position: relative;
  border-radius: 4px;
}

.shadow-box::-webkit-scrollbar {
  width: 8px; 
  border-radius: 4px;
  background-color: white;
}

.shadow-box::-webkit-scrollbar-thumb {
  background-color: #B6B6B6;
  border-radius: 4px;
}
.shadow-box::-webkit-scrollbar-thumb:hover {
  background-color: #B6B6B690;
}
.UMC-widget__calendar-item {
  width: 42px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: 18px;
  background-color: var(--main-element-bg);
  border-radius: 4px;
  color: var(--main-element-color);
  cursor: pointer;
  transition: all ease 0.1s;
  user-select: none;
}
.UMC-widget__calendar-item:hover {
  background-color: var(--main-element-bg_hover);
  color: var(--main-element-color_hover);
}
.UMC-widget__calendar-item_busy {
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
}
.UMC-widget__calendar-item_selected {
  background-color: var(--main-element-bg_hover);
}
.UMC-widget__calendar-item_empty {
  background-color: transparent;
  cursor: auto;
  user-select: none;
  pointer-events: none;
}
.UMC-widget__calendar-des-item-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #C8C8C8;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  cursor: pointer;
  transition: all ease 0.1s;
}
.UMC-widget__calendar-des-item-icon:hover {
  background-color: #DEDEDE;
}
.UMC-widget__calendar-des-item-icon_back {
  transform: rotate(180deg);
}
.UMC-widget__calendar-des .UMC-widget__calendar-item {
  flex-shrink: 0;
  width: 30px;
}

/*time*/

.UMC-widget__time {
  padding: 20px 16px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 32px;
  column-gap: 10px;
  row-gap: 10px;
}
.UMC-widget__time-item {
  background-color: var(--main-element-bg);
  border-radius: 4px;
  color: var(--main-element-color);
  cursor: pointer;
  transition: all ease 0.1s;
  user-select: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UMC-widget__time-item:hover {
  background-color: var(--main-element-bg_hover);
  color: var(--main-element-color_hover);
}

/*UMC-widget__service*/

.UMC-widget__service {
  width: 100%;
  padding: 12px;
  overflow: auto;
}
.UMC-widget__service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UMC-widget__service-header-price {
  font-weight: bold;
}
.UMC-widget__service-item {
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--main-element-color_simple);
  cursor: pointer;
  transition: all ease 0.1s;
  margin-bottom: 10px;
  user-select: none;
  border: 1px solid var(--main-element-border_simple);
}
.UMC-widget__service-item:hover {
  background-color: var(--main-element-bg);
  border-color: var(--main-element-border);
  color: var(--main-element-color);
}
.UMC-widget__service-item_selected {
  background-color: var(--main-element-bg);
  border-color: var(--main-element-bg);
  color: var(--main-element-color);
}
.UMC-widget__service-item_selected:hover {
  background-color: var(--main-element-bg_hover);
  border-color: var(--main-element-border_hover);
  color: var(--main-element-color_hover);
}

/**/

.UMC-widget__elem {
  width: 100%;
  display: block;
  margin: auto;
  border: none;
  outline: none;
}
.UMC-widget__inputs-wrapper {
  width: 100%;
}
.UMC-widget__input {
  padding: 14px 16px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  overflow: hidden;
  border: 1px solid #eeeeee;
  background-color: white;
}
.UMC-widget__input:focus {
  border-color: rgba(0, 0, 0, 0.3);
}
@keyframes fadeOut {
  0% {
    background-color: rgba(236, 35, 39, 0.2);
  }
  100% {
    background-color: transparent;
  }
}
.UMC-widget__input_empty {
  border: 1px solid red;
  animation: fadeOut 1s;
}
.UMC-widget__input-info {
  color: #ed2227;
  font-size: 12px;
  margin-top: 8px;
}
.UMC-widget__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__input:-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__input:-ms-input-placeholder {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.UMC-widget__icon {
  fill: rgba(172, 174, 176, 0.8);
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
}
.UMC-widget__button-area {
  padding: 0;
}
.UMC-widget__button {
  background-color: var(--main-element-bg);
  font-weight: 500;
  padding: 13px 16px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: var(--main-element-color);
  max-height: 42px;
  margin-top: 20px;
  overflow: hidden;
  transition: all ease 0.1s;
  text-transform: uppercase;
}
.UMC-widget__preloader-btn {
  height: 20px;
}
.UMC-widget__button:hover {
  background-color: var(--main-element-bg_hover);
}
.UMC-widget__button:active {
  box-shadow: none;
}
.UMC-widget__button:disabled {
  box-shadow: none;
  opacity: 0.7;
  cursor: auto;
}
.UMC-widget__hr {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.UMC-widget__text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.UMC-widget__text_hr {
  width: 30px;
  margin: auto;
  transform: translateY(-9px);
  background-color: #18538e;
}
.UMC-widget__text_info {
  margin-bottom: 20px;
}
.UMC-widget__hide-input {
  height: 0;
  overflow: hidden;
  margin: 0;
}
.UMC-widget__error-wrapper {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 7px;
  border: 1px solid white;
  padding: 10px;
  font-size: 14px;
}
.UMC-widget__open-input {
  font-size: 14px;
  text-decoration: underline;
  padding: 3px;
  color: grey;
  cursor: pointer;
}
.UMC-widget__open-input:hover {
  text-decoration: none;
}


/*success*/

.UMC-widget__success-area {
  display: flex;
  align-items: center;
  justify-self: center;
}
.UMC-widget__success-icon {
  width: 80px;
  display: block;
  margin-right: 20px;
}
.UMC-widget__success-title {
  text-align: center;
  margin-bottom: 10px;
}
.UMC-widget__success-text {
  font-size: 16px;
  line-height: 20px;
  color: #979ea7;
  text-align: left;
}
.UMC-widget__return-back,
.UMC-widget__success-icon,
.UMC-widget__success-title {
  fill: #117DC1;
  color: #117DC1;
}
.UMC-widget__success-highlight {
  color: #72777e;
  font-weight: 500;
}
.UMC-widget__return-back {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

/*modal*/

.UMC-widget__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999!important;
}
.UMC-widget__modal-body {
  background-color: #fff;
  width: 500px;
  padding: 30px;
  max-height: 90vh;
  overflow: auto;
  border-radius: 5px;
  transition: all ease 0.3s;
  transform: translateY(0);
}
.UMC-widget__modal-body_hidden {
  visibility: hidden;
  transform: translateY(-100px);
}
.UMC-widget__modal-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UMC-widget__modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: var(--main-text);
}
.UMC-widget__modal-exit {
  font-size: 28px;
  width: 44px;
  height: 44px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #adb0b8;
  cursor: pointer;
  transition: all ease 0.15s;
}
.UMC-widget__modal-exit:hover {
  background: #f1f3f6;
  color: #5b5d63;
}
.UMC-widget__private-text {
  color: var(--main-text);
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 140%;
}
.UMC-widget__private-link {
  color: var(--main-element-bg);
}
.UMC-widget__private-link:hover {
  text-decoration: none;
}
.UMC-widget_class-hidden {
  display: none;
}
.shadow-box_hidden, .shadow-box_loading {
  overflow: hidden;
  border: 2px solid #00000050;
  /* opacity: 0.5; */
}
.shadow-box_hidden::after {
  content: '';
  position: absolute;
  background-color: #00000050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.shadow-box_loading::after {
  content: '';
  position: absolute;
  background-color: #00000030;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/load.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

@media screen and (max-width: 1400px) {
  .UMC-widget {
    width: 1200px;
  }
  .UMC-widget__form {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
  }

  /* shadow-box */
  .shadow-box {
    height: 300px;
  }

  /* time */
  .UMC-widget__time {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1280px) {
  .UMC-widget {
    width: 700px;
  }
  .UMC-widget__form {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .UMC-widget {
    width: 90%;
  }
  .UMC-widget__form {
    grid-template-columns: 1fr;
  }

  /* shadow-box */
  .shadow-box {
    max-height: 90vh;
    height: auto;
  }
  .shadow-box::-webkit-scrollbar {
    width: 8px; 
    background-color: white;
  }
  
  .shadow-box::-webkit-scrollbar-thumb {
    background-color: #B6B6B6;
  }
  .shadow-box::-webkit-scrollbar-thumb:hover {
    background-color: #B6B6B690;
  }

  /* calendar */
  .UMC-widget__calendar-item {
    width: 100%;
    height: 30px;
    font-size: 16px;
  }

  /* time */
  .UMC-widget__time {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 450px) {

  /* time */
  .UMC-widget__time {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {

  /* time */
  .UMC-widget__time {
    grid-template-columns: 1fr 1fr;
  }
}